@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeatherApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<!------------Logo, navigation, background image --------------->

<body>
    @{
        //Time conditional background image
        DateTime currentTime = DateTime.Now;
        var background = currentTime.Hour < 21 ? "day-image" : "night-image";

    }

    <header class="@background">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <div class="logo">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images//logo.png"></a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">

                        
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="ContactUs" asp-action="ContactUs">ContactUs</a>
                        </li>

                        @{
                            var loginName = HttpContextAccessor.HttpContext.Session.GetString("LoginName") as string;
                        }


                        @if (!string.IsNullOrEmpty(loginName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white " asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi, @loginName !</a>
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white " asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white " asp-area="" asp-controller="User" asp-action="Register">Signup</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-----------Footer Section --------------->
    <footer class="border-top footer text-muted">
        <div class="">
            &copy; 2022 - WeatherApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
